version: '3'
services:
  magic:
    image: mageai/mageai:latest
    command: mage start hackernews_project
    env_file:
      - .env
    environment:
      USER_CODE_PATH: /home/src/hackernews_project
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: postgres
    ports:
      - 6789:6789
    volumes:
      - .:/home/src/
    restart: on-failure
    depends_on:
      - postgres

  postgres:
    image: postgres:14
    restart: on-failure
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: